		@/angle:Glotzer/SCC @/atom:Glotzer/S  @/atom:Glotzer/C* @/atom:Glotzer/C* @/bond:Glotzer/SC @/bond:Glotzer/CC
		@/angle:Glotzer/CCC @/atom:Glotzer/C* @/atom:Glotzer/C* @/atom:Glotzer/C* @/bond:Glotzer/CC @/bond:Glotzer/CC
