		$/bond:ddts[0]/SC @/bond:Glotzer/SC $/atom:ddts[0]/S $/atom:ddts[0]/C1
		$/bond:ddts[0]/CC1 @/bond:Glotzer/CC $/atom:ddts[0]/C1 $/atom:ddts[0]/C2
		$/bond:ddts[0]/CC2 @/bond:Glotzer/CC $/atom:ddts[0]/C2 $/atom:ddts[0]/C3
        $/bond:ddts[0]/CC3 @/bond:Glotzer/CC $/atom:ddts[0]/C3 $/atom:ddts[0]/C4      
        $/bond:ddts[0]/CC4 @/bond:Glotzer/CC $/atom:ddts[0]/C4 $/atom:ddts[0]/C5      
        $/bond:ddts[0]/CC5 @/bond:Glotzer/CC $/atom:ddts[0]/C5 $/atom:ddts[0]/C6
        $/bond:ddts[0]/CC6 @/bond:Glotzer/CC $/atom:ddts[0]/C6 $/atom:ddts[0]/C7
		$/bond:ddts[0]/CC7 @/bond:Glotzer/CC $/atom:ddts[0]/C7 $/atom:ddts[0]/C8 
		$/bond:ddts[0]/CC8 @/bond:Glotzer/CC $/atom:ddts[0]/C8 $/atom:ddts[0]/C9
        $/bond:ddts[0]/CC9 @/bond:Glotzer/CC $/atom:ddts[0]/C9 $/atom:ddts[0]/C10
        $/bond:ddts[0]/CC10 @/bond:Glotzer/CC $/atom:ddts[0]/C10 $/atom:ddts[0]/C11
		$/bond:ddts[0]/CC11 @/bond:Glotzer/CC $/atom:ddts[0]/C11 $/atom:ddts[0]/C12 
		$/bond:ddts[1]/SC @/bond:Glotzer/SC $/atom:ddts[1]/S $/atom:ddts[1]/C1
		$/bond:ddts[1]/CC1 @/bond:Glotzer/CC $/atom:ddts[1]/C1 $/atom:ddts[1]/C2
		$/bond:ddts[1]/CC2 @/bond:Glotzer/CC $/atom:ddts[1]/C2 $/atom:ddts[1]/C3
        $/bond:ddts[1]/CC3 @/bond:Glotzer/CC $/atom:ddts[1]/C3 $/atom:ddts[1]/C4      
        $/bond:ddts[1]/CC4 @/bond:Glotzer/CC $/atom:ddts[1]/C4 $/atom:ddts[1]/C5      
        $/bond:ddts[1]/CC5 @/bond:Glotzer/CC $/atom:ddts[1]/C5 $/atom:ddts[1]/C6
        $/bond:ddts[1]/CC6 @/bond:Glotzer/CC $/atom:ddts[1]/C6 $/atom:ddts[1]/C7
		$/bond:ddts[1]/CC7 @/bond:Glotzer/CC $/atom:ddts[1]/C7 $/atom:ddts[1]/C8 
		$/bond:ddts[1]/CC8 @/bond:Glotzer/CC $/atom:ddts[1]/C8 $/atom:ddts[1]/C9
        $/bond:ddts[1]/CC9 @/bond:Glotzer/CC $/atom:ddts[1]/C9 $/atom:ddts[1]/C10
        $/bond:ddts[1]/CC10 @/bond:Glotzer/CC $/atom:ddts[1]/C10 $/atom:ddts[1]/C11
		$/bond:ddts[1]/CC11 @/bond:Glotzer/CC $/atom:ddts[1]/C11 $/atom:ddts[1]/C12 
		$/bond:ddts[2]/SC @/bond:Glotzer/SC $/atom:ddts[2]/S $/atom:ddts[2]/C1
		$/bond:ddts[2]/CC1 @/bond:Glotzer/CC $/atom:ddts[2]/C1 $/atom:ddts[2]/C2
		$/bond:ddts[2]/CC2 @/bond:Glotzer/CC $/atom:ddts[2]/C2 $/atom:ddts[2]/C3
        $/bond:ddts[2]/CC3 @/bond:Glotzer/CC $/atom:ddts[2]/C3 $/atom:ddts[2]/C4      
        $/bond:ddts[2]/CC4 @/bond:Glotzer/CC $/atom:ddts[2]/C4 $/atom:ddts[2]/C5      
        $/bond:ddts[2]/CC5 @/bond:Glotzer/CC $/atom:ddts[2]/C5 $/atom:ddts[2]/C6
        $/bond:ddts[2]/CC6 @/bond:Glotzer/CC $/atom:ddts[2]/C6 $/atom:ddts[2]/C7
		$/bond:ddts[2]/CC7 @/bond:Glotzer/CC $/atom:ddts[2]/C7 $/atom:ddts[2]/C8 
		$/bond:ddts[2]/CC8 @/bond:Glotzer/CC $/atom:ddts[2]/C8 $/atom:ddts[2]/C9
        $/bond:ddts[2]/CC9 @/bond:Glotzer/CC $/atom:ddts[2]/C9 $/atom:ddts[2]/C10
        $/bond:ddts[2]/CC10 @/bond:Glotzer/CC $/atom:ddts[2]/C10 $/atom:ddts[2]/C11
		$/bond:ddts[2]/CC11 @/bond:Glotzer/CC $/atom:ddts[2]/C11 $/atom:ddts[2]/C12 
		$/bond:ddts[3]/SC @/bond:Glotzer/SC $/atom:ddts[3]/S $/atom:ddts[3]/C1
		$/bond:ddts[3]/CC1 @/bond:Glotzer/CC $/atom:ddts[3]/C1 $/atom:ddts[3]/C2
		$/bond:ddts[3]/CC2 @/bond:Glotzer/CC $/atom:ddts[3]/C2 $/atom:ddts[3]/C3
        $/bond:ddts[3]/CC3 @/bond:Glotzer/CC $/atom:ddts[3]/C3 $/atom:ddts[3]/C4      
        $/bond:ddts[3]/CC4 @/bond:Glotzer/CC $/atom:ddts[3]/C4 $/atom:ddts[3]/C5      
        $/bond:ddts[3]/CC5 @/bond:Glotzer/CC $/atom:ddts[3]/C5 $/atom:ddts[3]/C6
        $/bond:ddts[3]/CC6 @/bond:Glotzer/CC $/atom:ddts[3]/C6 $/atom:ddts[3]/C7
		$/bond:ddts[3]/CC7 @/bond:Glotzer/CC $/atom:ddts[3]/C7 $/atom:ddts[3]/C8 
		$/bond:ddts[3]/CC8 @/bond:Glotzer/CC $/atom:ddts[3]/C8 $/atom:ddts[3]/C9
        $/bond:ddts[3]/CC9 @/bond:Glotzer/CC $/atom:ddts[3]/C9 $/atom:ddts[3]/C10
        $/bond:ddts[3]/CC10 @/bond:Glotzer/CC $/atom:ddts[3]/C10 $/atom:ddts[3]/C11
		$/bond:ddts[3]/CC11 @/bond:Glotzer/CC $/atom:ddts[3]/C11 $/atom:ddts[3]/C12 
		$/bond:ddts[4]/SC @/bond:Glotzer/SC $/atom:ddts[4]/S $/atom:ddts[4]/C1
		$/bond:ddts[4]/CC1 @/bond:Glotzer/CC $/atom:ddts[4]/C1 $/atom:ddts[4]/C2
		$/bond:ddts[4]/CC2 @/bond:Glotzer/CC $/atom:ddts[4]/C2 $/atom:ddts[4]/C3
        $/bond:ddts[4]/CC3 @/bond:Glotzer/CC $/atom:ddts[4]/C3 $/atom:ddts[4]/C4      
        $/bond:ddts[4]/CC4 @/bond:Glotzer/CC $/atom:ddts[4]/C4 $/atom:ddts[4]/C5      
        $/bond:ddts[4]/CC5 @/bond:Glotzer/CC $/atom:ddts[4]/C5 $/atom:ddts[4]/C6
        $/bond:ddts[4]/CC6 @/bond:Glotzer/CC $/atom:ddts[4]/C6 $/atom:ddts[4]/C7
		$/bond:ddts[4]/CC7 @/bond:Glotzer/CC $/atom:ddts[4]/C7 $/atom:ddts[4]/C8 
		$/bond:ddts[4]/CC8 @/bond:Glotzer/CC $/atom:ddts[4]/C8 $/atom:ddts[4]/C9
        $/bond:ddts[4]/CC9 @/bond:Glotzer/CC $/atom:ddts[4]/C9 $/atom:ddts[4]/C10
        $/bond:ddts[4]/CC10 @/bond:Glotzer/CC $/atom:ddts[4]/C10 $/atom:ddts[4]/C11
		$/bond:ddts[4]/CC11 @/bond:Glotzer/CC $/atom:ddts[4]/C11 $/atom:ddts[4]/C12 
