@/atom:Glotzer/Ag 107.8682  # Ag
@/atom:Glotzer/C0 12.0107  # C0
@/atom:Glotzer/C2 14.02658  # C2
@/atom:Glotzer/C3 15.03452  # C3
@/atom:Glotzer/S 32.065  # S
@/atom:Glotzer/O 15.9994  # O
@/atom:Glotzer/H 1.00794  # H
