$/angle:bytype1 @/angle:Glotzer/SCC $/atom:ddts[0]/S $/atom:ddts[0]/C1 $/atom:ddts[0]/C2
$/angle:bytype2 @/angle:Glotzer/SCC $/atom:ddts[1]/S $/atom:ddts[1]/C1 $/atom:ddts[1]/C2
$/angle:bytype3 @/angle:Glotzer/SCC $/atom:ddts[2]/S $/atom:ddts[2]/C1 $/atom:ddts[2]/C2
$/angle:bytype4 @/angle:Glotzer/CCC $/atom:ddts[0]/C1 $/atom:ddts[0]/C2 $/atom:ddts[0]/C3
$/angle:bytype5 @/angle:Glotzer/CCC $/atom:ddts[0]/C2 $/atom:ddts[0]/C3 $/atom:ddts[0]/C4
$/angle:bytype6 @/angle:Glotzer/CCC $/atom:ddts[0]/C3 $/atom:ddts[0]/C4 $/atom:ddts[0]/C5
$/angle:bytype7 @/angle:Glotzer/CCC $/atom:ddts[0]/C4 $/atom:ddts[0]/C5 $/atom:ddts[0]/C6
$/angle:bytype8 @/angle:Glotzer/CCC $/atom:ddts[0]/C5 $/atom:ddts[0]/C6 $/atom:ddts[0]/C7
$/angle:bytype9 @/angle:Glotzer/CCC $/atom:ddts[0]/C6 $/atom:ddts[0]/C7 $/atom:ddts[0]/C8
$/angle:bytype10 @/angle:Glotzer/CCC $/atom:ddts[0]/C7 $/atom:ddts[0]/C8 $/atom:ddts[0]/C9
$/angle:bytype11 @/angle:Glotzer/CCC $/atom:ddts[0]/C8 $/atom:ddts[0]/C9 $/atom:ddts[0]/C10
$/angle:bytype12 @/angle:Glotzer/CCC $/atom:ddts[0]/C9 $/atom:ddts[0]/C10 $/atom:ddts[0]/C11
$/angle:bytype13 @/angle:Glotzer/CCC $/atom:ddts[1]/C1 $/atom:ddts[1]/C2 $/atom:ddts[1]/C3
$/angle:bytype14 @/angle:Glotzer/CCC $/atom:ddts[1]/C2 $/atom:ddts[1]/C3 $/atom:ddts[1]/C4
$/angle:bytype15 @/angle:Glotzer/CCC $/atom:ddts[1]/C3 $/atom:ddts[1]/C4 $/atom:ddts[1]/C5
$/angle:bytype16 @/angle:Glotzer/CCC $/atom:ddts[1]/C4 $/atom:ddts[1]/C5 $/atom:ddts[1]/C6
$/angle:bytype17 @/angle:Glotzer/CCC $/atom:ddts[1]/C5 $/atom:ddts[1]/C6 $/atom:ddts[1]/C7
$/angle:bytype18 @/angle:Glotzer/CCC $/atom:ddts[1]/C6 $/atom:ddts[1]/C7 $/atom:ddts[1]/C8
$/angle:bytype19 @/angle:Glotzer/CCC $/atom:ddts[1]/C7 $/atom:ddts[1]/C8 $/atom:ddts[1]/C9
$/angle:bytype20 @/angle:Glotzer/CCC $/atom:ddts[1]/C8 $/atom:ddts[1]/C9 $/atom:ddts[1]/C10
$/angle:bytype21 @/angle:Glotzer/CCC $/atom:ddts[1]/C9 $/atom:ddts[1]/C10 $/atom:ddts[1]/C11
$/angle:bytype22 @/angle:Glotzer/CCC $/atom:ddts[2]/C1 $/atom:ddts[2]/C2 $/atom:ddts[2]/C3
$/angle:bytype23 @/angle:Glotzer/CCC $/atom:ddts[2]/C2 $/atom:ddts[2]/C3 $/atom:ddts[2]/C4
$/angle:bytype24 @/angle:Glotzer/CCC $/atom:ddts[2]/C3 $/atom:ddts[2]/C4 $/atom:ddts[2]/C5
$/angle:bytype25 @/angle:Glotzer/CCC $/atom:ddts[2]/C4 $/atom:ddts[2]/C5 $/atom:ddts[2]/C6
$/angle:bytype26 @/angle:Glotzer/CCC $/atom:ddts[2]/C5 $/atom:ddts[2]/C6 $/atom:ddts[2]/C7
$/angle:bytype27 @/angle:Glotzer/CCC $/atom:ddts[2]/C6 $/atom:ddts[2]/C7 $/atom:ddts[2]/C8
$/angle:bytype28 @/angle:Glotzer/CCC $/atom:ddts[2]/C7 $/atom:ddts[2]/C8 $/atom:ddts[2]/C9
$/angle:bytype29 @/angle:Glotzer/CCC $/atom:ddts[2]/C8 $/atom:ddts[2]/C9 $/atom:ddts[2]/C10
$/angle:bytype30 @/angle:Glotzer/CCC $/atom:ddts[2]/C9 $/atom:ddts[2]/C10 $/atom:ddts[2]/C11
$/angle:bytype31 @/angle:Glotzer/CCC $/atom:ddts[0]/C10 $/atom:ddts[0]/C11 $/atom:ddts[0]/C12
$/angle:bytype32 @/angle:Glotzer/CCC $/atom:ddts[1]/C10 $/atom:ddts[1]/C11 $/atom:ddts[1]/C12
$/angle:bytype33 @/angle:Glotzer/CCC $/atom:ddts[2]/C10 $/atom:ddts[2]/C11 $/atom:ddts[2]/C12
