$/atom:brancheds[0]/S $/mol:brancheds[0] @/atom:Glotzer/S 0. -6.135 0.259 0.0
$/atom:brancheds[0]/C1 $/mol:brancheds[0] @/atom:Glotzer/C2 0. -5.117 -0.303 0.0
$/atom:brancheds[0]/C2 $/mol:brancheds[0] @/atom:Glotzer/C2 0. -4.093 0.259 0.0
$/atom:brancheds[0]/C3 $/mol:brancheds[0] @/atom:Glotzer/C2 0. -3.069 -0.303 0.0
$/atom:brancheds[0]/C4 $/mol:brancheds[0] @/atom:Glotzer/C2 0. -3.069 0.821 0.0
$/atom:brancheds[0]/C5 $/mol:brancheds[0] @/atom:Glotzer/C3 0. -2.045 -0.865 0.0
$/atom:brancheds[0]/C6 $/mol:brancheds[0] @/atom:Glotzer/C2 0. -2.045 1.383 0.0
$/atom:brancheds[0]/C7 $/mol:brancheds[0] @/atom:Glotzer/C3 0. -1.021 0.821 0.0
$/atom:brancheds[0]/C8 $/mol:brancheds[0] @/atom:Glotzer/C3 0. -1.021 1.945 0.0
